<div class="anyQuestion">
    <div class="container2">
        <div class="anyQuestion__content">
            <div class="anyQuestion__text">
                <div class="anyQuestion__title">Any more questions?</div>
                <div class="anyQuestion__description">We accept money with PayPal and Stripe (ApplePay / GooglePay and Visa/Mastercard)</div>
            </div>
            <div class="anyQuestion__img">
                <img src="images/heroes.png" alt="heroes">
            </div>
            <button class="anyQuestion__button" type="button">Ask a question</button>
        </div>
    </div>
</div>