<div class="getStarted">
    <div class="container">
        <div class="getStarted__content">
            <div class="getStarted__title blockTitle">Get your order started </div>
            <div class="getStarted__title_green">IN 15 MINUTES</div>
            <div class="getStarted__items">
                <div class="getStarted__item">
                    <div class="getStarted__item-box">
                        <div class="getStarted__item-count">1</div>
                        <div class="getStarted__item-title">REGISTRATION</div>
                    </div>
                    <div class="getStarted__item-description">Register for free and get a discount on your first purchase</div>
                </div>
                <div class="getStarted__item">
                    <div class="getStarted__item-box">
                        <div class="getStarted__item-count">2</div>
                        <div class="getStarted__item-title">DETAILS</div>
                    </div>
                    <div class="getStarted__item-description">Chat with the booster before paying and specify order details</div>
                </div>
                <div class="getStarted__item">
                    <div class="getStarted__item-box">
                        <div class="getStarted__item-count">3</div>
                        <div class="getStarted__item-title">PAYMENT</div>
                    </div>
                    <div class="getStarted__item-description">Place an order and pay for it</div>
                </div>
                <div class="getStarted__item">
                    <div class="getStarted__item-box">
                        <div class="getStarted__item-count">4</div>
                        <div class="getStarted__item-title">CONFIRMATION</div>
                    </div>
                    <div class="getStarted__item-description">Confirm the order delivery. The booster gets paid only now</div>
                </div>
                <div class="getStarted__item">
                    <div class="getStarted__item-box">
                        <div class="getStarted__item-count">5</div>
                        <div class="getStarted__item-title">REVIEW</div>
                    </div>
                    <div class="getStarted__item-description">Leave a review about the booster’s job to help others make the right choice</div>
                </div>
            </div>
        </div>
    </div>
</div>