<div class="goldFAQ">
    <div class="container2">
        <div class="goldFAQ__content">
             <div class="goldFAQ__title blockTitle">WoW Gold FAQ</div>
            <div class="goldFAQ__list goldFAQ__list_mt">
                <div class="goldFAQ__list-title">How does it work?</div>
                <ul class="goldFAQ__items">
                    <li class="goldFAQ__item">Before buying WoW gold, we advise you to send a message to a seller and clarify all details and discuss a delivery method;</li>
                    <li class="goldFAQ__item">Place an order;</li>
                    <li class="goldFAQ__item">Receive your gold via the discussed method;</li>
                </ul>
            </div>
            <div class="goldFAQ__list">
                <div class="goldFAQ__list-title">Why is gold so important?</div>
                <div class="goldFAQ__list-description">WoW has been a unique world since 2004, where life has its system including economy and currency which is gold. This shiny and ringing currency is always in demand. Shadowlands doesn’t have big gold sink items, however:</div>
                <ul class="goldFAQ__items">
                    <li class="goldFAQ__item">Usually, WoW consumables are very expensive. That includes potions, flasks, enhancements, armour kits, and other stuff;</li>
                    <li class="goldFAQ__item">BoE items from raids are always expensive and very useful for progressions as for mid-tier to gear up alts faster;</li>
                    <li class="goldFAQ__item">Legendary blanks have a price to pay;</li>
                    <li class="goldFAQ__item">Some new mounts can be bought for gold as well as old ones, but they are way more expensive;</li>
                    <li class="goldFAQ__item">WoW has a lot of unique items for transmogrification that you can buy at the auction house;</li>
                </ul>
            </div>
        </div>
    </div>
</div>