<main class="main">
    <div class="container">
        <div class="main__content">
            <div class="main__block">
                <div class="main__img">
                    <img src="images/irina.png" alt="master">
                </div>
                <div class="main__info">
                    ІРИНА БОНДАРЕНКО <br>НАСТАВНИК ЮРИСТІВ ТА АДВОКАТІВ З БІЗНЕСУ, МАРКЕТИНГУ, ПРОДАЖІВ ТА РОБОТІ З КЛІЄНТАМИ
                </div>
            </div>
            <ul class="lang main__lang">
                <li class="lang__item">
                    <a href="#" class="lang__link">УКР</a>
                </li>
                <li class="lang__item">
                    <a href="#" class="lang__link">РУС</a>
                </li>
            </ul>
            <div class="cub1 main__cub1">
                <img src="images/cub1.png" alt="">
            </div>
            <div class="cub2 main__cub2">
                <img src="images/cub2.png" alt="">
            </div>
        </div>
    </div>
</main>