<div class="page__top">
    <div class="container">
        <div class="page__top-content">
            <ul class="page__top-breadcrumb">
                <li class="page__top-breadcrumb__item">
                    <a href="#" class="page__top-breadcrumb__link">Home page</a>
                </li>
                <li class="page__top-breadcrumb__item">
                    <a href="#" class="page__top-breadcrumb__link">World of Warcraft Gold</a>
                </li>
            </ul>
            <div class="page__top-info">
                <h1 class="page__top-title blockTitle">WoW Gold</h1>
                <div class="page__top-tabs">
                    <button type="button" class="page__top-tab page__top-tab_active">WoW Gold</button>
                    <button type="button" class="page__top-tab">SEASON OF THE MASTERY GOLD</button>
                    <button type="button" class="page__top-tab">WOW WOTLK GOLD</button>
                </div>
            </div>
            <div class="page__top-img">
                <img src="images/page_top_gold.png" alt="gold">
            </div>
        </div>
    </div>
</div>