<div class="protected">
    <div class="container2">
        <div class="protected__content">
            <div class="protected__title blockTitle">You are protected by buyer protection programs</div>
            <div class="protected__description">There is no reason for you to be worried.</div>
            <ul class="whyChoose__list">
                <li class="whyChoose__item">Official payment systems</li>
                <li class="whyChoose__item">Refund guarantee</li>
            </ul>
        </div>
        <ul class="protected__brands">
                <li class="protected__brand"><img src="images/visa.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/mastercard.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/paysafe.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/klarna.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/gpay.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/applepay.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/skrill.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/paypal.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/americanexpress.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/banktransfer.png" alt="bank"></li>
                <li class="protected__brand"><img src="images/giropay.png" alt="bank"></li>
            </ul>
    </div>
</div>