 <div class="question">
    <div class="container2">
        <div class="question__content">
            <div class="question__title blockTitle">Frequently Asked Questions</div>
            <div class="question__description">WoW has a lot of unique items for transmogrification that you can buy at the auction house;</div>
            <div class="question__items">
                <div class="question__item">
                    <div class="question__question question__arrow question__arrow_active">Who are you?</div>
                    <div class="question__answer ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
                </div>
                <div class="question__item ">
                    <div class="question__question question__arrow question__arrow_active">Why prices are so low?</div>
                    <div class="question__answer ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia quo soluta assumenda cupiditate nulla voluptatum!</div>
                </div>
                <div class="question__item ">
                    <div class="question__question question__arrow question__arrow_active">Why should I trust you? </div>
                    <div class="question__answer">We accept money with PayPal and Stripe (ApplePay / GooglePay and Visa/Mastercard) so that you covered by PayPal buyer protection program and card networks buyer protection programs. Simply, it’s impossible for us to get your moneywithout actually completing the service.</div>
                </div>
                <div class="question__item">
                    <div class="question__question question__arrow question__arrow_active">How can I be sure in quality?  </div>
                    <div class="question__answer ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam cupiditate nisi ea excepturi consequatur. Nemo at voluptatum quos, maiores, commodi enim inventore quia, quaerat a harum voluptas fugiat vero.</div>
                </div>
            </div>
        </div>
    </div>
 </div>