 <div class="whyChoose">
    <div class="container2">
        <div class="whyChoose__content">
            <div class="whyChoose__title blockTitle">Why to choose <br>Kingboost.net?</div>
            <div class="whyChoose__description">There is no reason for you to be worried.</div>
            <ul class="whyChoose__list">
                <li class="whyChoose__item">Official payment systems</li>
                <li class="whyChoose__item">Refund guarantee</li>
                <li class="whyChoose__item">Lowest prices possible</li>
                <li class="whyChoose__item">Experienced and friendly support</li>
            </ul>
            <div class="whyChoose__img">
                <img src="images/whyChoose_img.png" alt="hero">
            </div>
        </div>
    </div>
 </div>