.lang {
    display: flex;
    align-items: baseline;
    &__item {
        padding: 0 10px;
    }
    &__item:not(:first-child) {
        border-left: 1px solid #fefeff;
        line-height: 30px;
    }
    &__link {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
    }
}
