.header {

    &__content {
        padding: 10px 38px 10px 118px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eef9ff;
    }
    &__logo {
        max-width: 132px;
    }
    &__menu {
        
    }
    &__social {
        
    }
}
