*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'adobeinvisfont', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	
	
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
}
button {
	border: none;
	padding: 0;
	background: none;
	outline: none;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert180 {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.container {
	margin: auto;
	max-width: 1280px;
	// @include max-xxl {
	// 	max-width: 1440px;
	// 	width: 100%;
	// 	margin: 0 auto;
	// 	padding: 0 40px;
	// }
	// @include max-lg {
	// 	padding: 0 20px;
	// }
	// @include max-sm {
	// 	padding: 0 20px;
	// }
}
// .owl-carousel .owl-stage-outer {
// 	max-width: calc(300px + (1080 - 300) * ((100vw - 375px) / (1920 - 375)));
// 	@include max-xxl {
// 		max-width: calc(300px + (1088 - 300) * ((100vw - 375px) / (1920 - 375)));
// 	}
// 	@include max-xl {
// 		max-width: calc(135px + (1080 - 135) * ((100vw - 375px) / (1920 - 375)));
// 	}
// 	@include max-lg {
// 		max-width: calc(80px + (1080 - 80) * ((100vw - 375px) / (1920 - 375)));
// 	}
// 	@include max-md {
// 		max-width: 100%;
// 	}
// }
