* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	// font-family: 'adobeinvisfont', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
}
ol,
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
}
button {
	border: none;
	padding: 0;
	background: none;
	outline: none;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert180 {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.blockTitle {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 44px;
	line-height: 52px;
	color: #000000;
	@include max-md {
		font-size: 24px;
		line-height: 28px;
	}
}
.container {
	margin: auto;
	max-width: 1440px;
	padding: 0 130px;
	width: 100%;
	@include max-xlmidle {
		max-width: 1024px;
		padding: 0 56px;
	}
	@include max-md {
		padding: 0 10px;
	}
}
.container2 {
	margin: auto;
	max-width: 1440px;
	padding: 0 99px;
	width: 100%;
	@include max-xlmidle {
		max-width: 1024px;
		padding: 0 56px;
	}
	@include max-md {
		padding: 0 8px;
	}
}
