.main {
    &__content {
        position: relative;
        background-color: #0f4c81;
        padding-top: 21px;
    }
    &__block {
        display: flex;
        align-items: center;
        column-gap: 100px;
        justify-content: center;
    }
    &__img {
        max-width: 307px;
        background-image: radial-gradient(circle farthest-side, #fff -84%, #0f4c81 68%);
    }
    &__info {
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        padding-left: 16px;
        border-left: 1px solid #fff;
        display: flex;
        align-items: center;
        max-width: 487px;
        position: relative;
        &:before {
            content: "";
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXAQMAAADa5EbjAAAAAXNSR0IB2cksfwAAAAZQTFRFAAAA////pdmf3QAAAAJ0Uk5TAP9bkSK1AAAAFklEQVR4nGNgEGBgIBb///+PaLVADADI5QRdnuXbywAAAABJRU5ErkJggg==);
            background-size: contain;
            max-width: 23px;
            max-height: 23px;
            margin-right: 19px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -35px;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
        }
    }
    &__lang {
        position: absolute;
        top: 37px;
        right: 33px;
    }
    &__cub1 {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 135px;
    }
    &__cub2 {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 407px;
    }
}
